#################################
#
# Policy for testing secretmem operations
#

attribute test_secretmem_domain;

define(`secretmem_domain_type',`
	type $1;
	domain_type($1)
	typeattribute $1 test_secretmem_domain;
	typeattribute $1 testdomain;
')

# Private type for secret memory
type test_secretmem_inode_t;

# Domain not allowed to create secret memory
secretmem_domain_type(test_nocreate_secretmem_t)

# Domain allowed to create secret memory with the domain type
secretmem_domain_type(test_create_secretmem_t)

# Domain not allowed to create secret memory with a type transition
secretmem_domain_type(test_nocreate_transition_secretmem_t)

# Domain allowed to create secret memory with a type transition
secretmem_domain_type(test_create_transition_secretmem_t)

# Allow all of these domains to be executed
miscfiles_domain_entry_test_files(test_secretmem_domain)
unconfined_runs_test(test_secretmem_domain)
userdom_sysadm_entry_spec_domtrans_to(test_secretmem_domain)
